// Colors
$william: #3c6e71;
$jaffa: #f4743b;
$sulu: #beee62;
$matterhorn: #483c46;
$light-gray: rgba(0, 0, 0, 0.125);

// Others
$shadow-green: 0 0 2px 0.1rem rgba(190, 238, 98, 0.75);
$transition-default: 0.2s ease-in-out;
